:root {
  --primary-color: #e7eaf6;
  --secondary-color: #113f67;
  --tertiary-color: #a2a8d3;
}

header {
  background-color: var(--primary-color);
  padding: 70px 20px;
}
/*
#a2a8d3;
#e7eaf6;
*/

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

h1,
h2 {
  font-family: Nunito;
  font-weight: bold;
  text-align: center;
}

.navigation-links {
  margin-top: 30px;
}

.navigation-links a {
  margin: 20px;
}

.contact-link,
.about-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  border: 1px solid black;
  background-color: var(--secondary-color);
  color: white;
  transition: color 0.3s;
}

.contact-link:hover,
.about-link:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}
