:root {
  --primary-color: #e7eaf6;
  --secondary-color: #113f67;
  --tertiary-color: #a2a8d3;
  --fourth-color: #38598b;
}

header {
  background-color: var(--primary-color);
  padding: 40px 20px;
}

/*
#a2a8d3;
#e7eaf6;
*/

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

h1,
h2,
.card-title {
  font-family: Nunito;
  font-weight: bold;
  /* text-align: center; */
}

h3 {
  font-style: italic;
  font-family: Nunito;
  /* text-align: center; */
}

h4 {
  font-weight: bold;
  font-size: 24px;
}

li {
  line-height: 2;
}

img {
  max-width: 100px;
}
.navigation-links {
  margin-top: 30px;
}

.navigation-links a {
  margin: 20px;
}

.nav-button {
  border-radius: 4px;
  /* padding: 20px 15px; */
  border: 1px solid black;
  background-color: var(--fourth-color);
  color: white;
  transition: color 0.3s;
  text-transform: capitalize;
}

.nav-button:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}

.overview {
  font-family: Nunito;
}

.card {
  border: none;
}

.card-title {
  text-transform: capitalize;
}

.overview-body {
  font-size: 18px;
}

/* .specialization {
  font-size: 42px;
} */

/* .spec-heading {
  font-size: 40px;
} */

/* .list {
  font-size: 20px;
  margin: 40px 0;
} */
