:root {
  --primary-color: #e7eaf6;
  --secondary-color: #113f67;
  --tertiary-color: #a2a8d3;
  --fourth-color: #38598b;
}

body {
  font-family: Nunito;
}

header {
  background-color: var(--primary-color);
  padding: 40px 20px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

h1,
h2,
h5,
.card-title {
  font-weight: bold;
}

h3 {
  font-style: italic;
}

h4 {
  font-weight: bold;
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

.bullet-list li {
  line-height: 2;
}

.navigation-links {
  margin-top: 30px;
}

.navigation-links a {
  margin: 20px;
}

.nav-button {
  border-radius: 4px;
  border: 1px solid black;
  background-color: var(--fourth-color);
  color: white;
  transition: color 0.3s;
}

.nav-button:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}

.card {
  border: none;
}

.card-title,
.specialization-heading {
  font-size: 22px;
}

.card-text,
.bullet-list,
.specialization-body {
  font-size: 17px;
  line-height: 1.6;
}

.message-sent {
  max-width: 100px;
}

.section-start {
  margin: 80px 0 50px 0;
}

.specialization {
  margin: 20px 0;
}

.color-section {
  background-color: var(--primary-color);
}

@media (width <= 768px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 21px;
  }
  .card-title,
  .specialization-heading {
    font-size: 18px;
  }
  .card-text,
  .bullet-list,
  .specialization-body {
    font-size: 16px;
  }
}

#background {
  background-color: var(--primary-color);
  padding: 40px 20px;
  border-radius: 150px 5px;
  margin: 10px 40px;
}

.intro-text {
  font-size: 20px;
}

.career-highlights {
  list-style-type: none; /* Removes default bullets */
  padding: 0;
}

.career-highlights li {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 10px; /* Adjust as necessary */
  padding-left: 20px; /* Adjust as necessary */
  position: relative;
}

.career-highlights li:before {
  content: "✔"; /* Custom bullet */
  color: var(--secondary-color);
  position: absolute;
  left: 0;
}

.about-heading {
  font-style: italic;
  font-size: 28px;
}

#approach {
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 60px 40px;
  padding: 20px 20px;
}

#approach p {
  font-size: 18px;
  line-height: 1.6;
}

#interests {
  border-radius: 0 0 40px 40px;
  background-color: var(--primary-color);
  margin: 60px 40px;
  padding: 20px 20px;
}

#interests p {
  font-size: 17px;
}

.other-color-section {
  background: var(--primary-color);
  border: 1px solid var(--fourth-color);
}
